unit "hello world" {

	method "m1" parameters () {
	}
	
	method "m2" parameters ("a1") {
	}
	
	method "m3" parameters ("a1", "name" value "fred") {
	}

	method "main" parameters ("args") {
		get key "args" if null "fred"
		
		define key "name"
		set key "name" value "hannah"
		
		define key "flag" value true
		while (get key "flag") {
			set key "flag" value false
		}
		
		if (get key "flag") {
		}
	}
}
