unit "hello world" {

	method "m1" parameters () {
		define key "name"
		set key "name" value "fred"
		get key "name"
		
		define key "age" value 21
		get key "age" 
	}
	
	method "m2" parameters (key "a1") {
	}
	
	method "m3" parameters (key "a1", key "name" value "fred") {
		get key "name"
	}

	method "main" parameters (key "args") {
		get key "args" if null "fred"
		
		define key "name"
		set key "name" value "hannah"
		
		define key "flag" value true
		while (get key "flag") {
			set key "flag" value false
		}
		
		if (get key "flag") {
		}
		
		call unit "hello world" method "m1"
		
		call unit "hello world" method "m2" arguments (key "a1")
	}
}
